<div class="container-fluid">
  <%= link_to "New restaurant", new_restaurant_path %>
</div>
<br>
<div class="container">
  <% @restaurants.each do |restaurant| %>
    <%= link_to restaurant_path(restaurant) do  %>
      <h1><%= restaurant.name %></h1>

      <p><%= restaurant.address %></p>
      <p><%= restaurant.phone_number %></p>
      <p><%= restaurant.category %></p>
  ----------------------------------------
    <% end %>
  <% end %>
</div>
